{% load static %}

<div style="width: 100%;position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/63/irkutsk/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">Иркутск</a><a
        href="https://yandex.ru/maps/63/irkutsk/house/karpinskaya_ulitsa_128/ZUkCaARmS0AEX0JvYWJycXtkZw0=/?ll=104.351306%2C52.308222&utm_medium=mapframe&utm_source=maps&z=14.25"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Карпинская улица, 128 — Яндекс Карты</a>
    <iframe src="https://yandex.ru/map-widget/v1/?ll=104.351306%2C52.308222&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgozMzYxNDAxNDg1EkLQoNC-0YHRgdC40Y8sINCY0YDQutGD0YLRgdC6LCDQmtCw0YDQv9C40L3RgdC60LDRjyDRg9C70LjRhtCwLCAxMjgiCg2eudBCFR47UUI%2C&z=14.25"
            width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>

