{% load static %}


<div class="text-start">
    <h3 class="text-center m-4">Свадебное расписание:</h3>
    <div class="list-group">

        <a class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Регистрация в ЗАГСе</h5>
                <small>14:20</small>
            </div>
            <p class="mb-1">Дворец бракосочетания (Центральный отдел по г.Иркутску службы ЗАГС Иркутской области), г.
                Иркутск, ул. Декабрьских Событий, 106, Золотой зал (2 этаж)</p>
        </a>

        <a class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Банкет</h5>
                <small class="text-muted">17:00</small>
            </div>
            <p class="mb-1">Коттедж "Красный дом", ул. Карпинская, д. 128</p>
        </a>

        <a class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Сауна, бассейн, волейбол, шашлыки</h5>
                <small class="text-muted">2й день</small>
            </div>
            <p class="mb-1">Коттедж "Красный дом", ул.Карпинская, д. 128</p>
        </a>

    </div>
    {#    <div class="row">#}
    {#        <div class="col-sm-2">#}
    {#            <ul class="list-group list-group-flush">#}
    {#                <li class="list-group-item">14:20</li>#}
    {#                <li class="list-group-item">17:00</li>#}
    {#                <li class="list-group-item">2й день</li>#}
    {#            </ul>#}
    {#        </div>#}
    {#        <div class="col-sm-10">#}
    {#            <ul class="list-group list-group-flush">#}
    {#                <li class="list-group-item"><b>Регистрация в ЗАГСе.</b> Дворец бракосочетания (Центральный отдел по г.#}
    {#                    Иркутску#}
    {#                    службы ЗАГС Иркутской области), г. Иркутск, ул. Декабрьских Событий, 106, Золотой зал (2 этаж)#}
    {#                </li>#}
    {#                <li class="list-group-item"><b>Банкет.</b> Коттедж "Красный дом", ул. Карпинская, д. 128</li>#}
    {#                <li class="list-group-item"><b>Сауна, бассейн, волейбол, шашлыки.</b> Коттедж "Красный дом", ул.#}
    {#                    Карпинская, д. 128#}
    {#                </li>#}
    {#            </ul>#}
    {#        </div>#}
    {#    </div>#}
</div>